/* RESETS */
/* Consider creating a 'resets.css' file for all resets */
body {
    background: #0d133e;
    margin: 0;
    font-family: sans-serif;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}

/* CUSTOM STYLES */
header {
    /* Aligns the direct children on a row, from left to right */
    display: flex;
    /* Once you set display: flex, you can align items vertically and horizontally with flexbox properties */
    /* Align items will align the direct children on the y-axis (top to bottom) */
    align-items: center;
    /* Push the direct children as far apart as possible, using the space between them (x-axis) */
    /* justify-content: space-between; */
    background: #111527d9;
    padding: 25px 7% 20px;
}

header nav {
    /* Percentage values are always a percentage of the parent's value(width/height) */
    margin-left: 150px;
}

header a {
    color: #d58b14;
}

/* when the same style being used for multiple selections, you can use 'comma' to add another seletor */
header a:hover, header a.active {
    text-decoration: underline;
}

header nav a {
    color: #fff;
}

/* Selecct all links with the nav except the last one*/
header nav a:not(:last-child) {
    margin-right: 10px;
}

.search-container {
    display: inline-block;
    align-items: center;
}

.search-icon {
    width: 10px;
    height: 10px;
}

#searchbutton {
    height: 20px;
    width: 20px;
    padding: 0;
    border: 0;
}

p {
    color: #4bc385;
    padding-left: 100px;
}

.button {
    margin-left: 100px;
}

h1 {
    color: white;
    text-transform: uppercase;
    padding: 0 0 0 100px;
    margin: 0;
}